.wrap-1,select{background: #333; border: none; outline: none;}
.wrap-1 li{margin-left: 6px;}
.wrap-1 .left,select{color: #777; font-size: 13px; font-family: var(--ff);}
.wrap-1 li a{display: block; color: #8b8b8b; font-size: 13px; font-family: var(--ff);padding: 17px 10px; text-align: center;}
.wrap-1 li a:hover{background: #00c8c8; color: #fff;}
.wrap-1 .cart{padding: 10px; text-align: center;background: #00c8c8; color: #fff;}
.wrap-1 #carts{background: #00c8c8; color: #fff;}
.wrap-1 .cart span{margin: 5px; font-size: 20px;}
.wrap-1 .cart select{font-size: 13px; }

.wrap-2 .container-lg{padding: 10px 1rem; position: relative;}
.wrap-2 .logo{text-align: center;}
.wrap-2 h1 a{color: #222; font: bold 24px var(--ff);}
.wrap-2 h1 a span{color: #222; font: normal 24px var(--ff);}
.wrap-2 .menu{justify-content: end;}
.wrap-2 .menu li{margin-right: 20px; }
.wrap-2 .menu a span{display: block;}
.wrap-2 .menu a{color: #222; font: 500 13px/20px var(--ff); padding: 15px 10px; display: inline-block;}
.wrap-2 .menu a:hover{color: #00c8c8;}
.wrap-2 .search{text-align: center; position: relative;}
.wrap-2 .search input{padding: 5px; border: 2px solid #e7e7e7; width: 80%; margin-right:20px ;}
.wrap-2 .search span{color: #989898; position: absolute; right: 40px; top: 10px;}

.wrap-2 .dropdown{display: none; position: absolute; background: #f8f8f8; padding: 0 30px 30px 30px; width: 410px; box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1); text-align: left;z-index: 5;}
.wrap-2 nav ul li:hover .dropdown{ display: block;}
.wrap-2 .sale{width: 350px; background: #333; padding: 32px 25px; margin-top: 43px;}
.wrap-2 .sale p{font: bold 36px var(--ff); text-align: center; color: #fff;}
.wrap-2 .sale p span{font: normal 36px var(--ff); text-align: center; color: #fff;}
.wrap-2 .dropdown li a h2{color: #575153; font: bold 14px var(--ff); padding: 20px 0; margin: 0;}
.wrap-2 .dropdown li a{color: #969696; font: 14px/30px var(--ff); padding: 0 1rem 0 0; margin: 2px;}
.wrap-2 .r0{right: 0;}

.wrap-2 button{background: transparent; border: none; position: absolute; right: 5px; top: 10px; display: none;}
.wrap-2 .btnmob span{width: 40px; height: 5px; background: #000; margin: 5px; display: flex; }

@media screen and (max-width:1220px){
    .wrap-1 li {margin-left: 3px;}
    .wrap-1 li a {padding: 8px;}
    .wrap-2 .menu a {padding: 15px 5px;}
    .wrap-2 h1 a {font: bold 21px var(--ff);}
    .wrap-2 .r0{right: 10px;}   
}

@media screen and (max-width:980px){
    .wrap-2 h1 a {font: bold 14px var(--ff);}
    .wrap-2 h1 a span {font: normal 15px var(--ff);}
    .wrap-2 .menu li {margin-right: 11px;}
    .wrap-2 .menu a {font: 500 11px / 20px var(--ff);}
    .wrap-2 .search input{width: 100%; margin-right: 0;}
    .wrap-2 .search span {right: 5px; top: 8px;}
    .wrap-2 .menu a {padding: 24px 5px 15px 5px;}
    .wrap-2 .r1{right: 10px;}
}

@media screen and (max-width:767px){
    .wrap-2 .menu{display: none;}
    .wrap-2 .search{display: none;}
    .wrap-2 button{display: block; z-index: 6;}
    .wrap-2 .menu{background: #fff; position: absolute; left: 0; right: 0; text-align: right; z-index: 6;}
   
}

@media screen and (max-width:460px){
    .wrap-1 .left, select {font-size: 6px;}
    .wrap-1 li a {font-size: 8px; padding: 6px 4px;}
    .wrap-1 .cart {padding: 4px;}
    .wrap-1 .cart span {margin: 5px; font-size: 15px;}
    .wrap-1 .cart select {font-size: 10px;}
    .wrap-2 .dropdown {width: 100%; height: auto;}
    .wrap-2 .r1 {right: 0px;}
    .wrap-2 .r0 {right: 0px;}
    .wrap-2 .sale {width: 100%;height: auto; padding: 12px 12px;margin-top: 22px;}
}
