@use'reset';
@use'header';
@use'footer';
.wrap-3 {background: url(../Images/bg3.png) no-repeat center/cover, #333333;position: relative; z-index: 0;}
.wrap-3::before{
    content: '';
    position: absolute;
    background: rgba(51, 51, 51,0.75);
    display: block;
    z-index: -1;
    inset: 0;
}
.wrap-3 .ave p{text-align: center; font: bold 300px var(--ff); color: rgba(94, 94, 94,0.22); }
.wrap-3 .brand{position: absolute; bottom: 150px; left: 50%; transform: translateX(-50%); text-align: center; color: #fff;}
.wrap-3 h2{font: bold 48px/54px var(--ff);}
.wrap-3 h2 span{font: 400 48px/54px var(--ff);}
.wrap-3 h3{font: 500 30px/54px var(--ff);}

.wrap-4{margin: 50px 0 0 0;}
.wrap-4 h2{font: 500 18px/20px var(--ff);color: #575153; margin: 20px 0;}
.wrap-4 h3{font: 400 13px/20px var(--ff); color: #727272; margin-bottom: 15px;}
.wrap-4 .place p{font: 400 15px/22px Roboto; color: #8e8c8c;}
.wrap-4 .view a{border: 2px solid #727272; color: #454647; display: inline-block; font: 400 16px var(--ff); padding: 15px 25px; margin-top: 2rem;}
.wrap-4 .view a:hover{background: #00c8c8; color: #fff; border: 2px solid #00c8c8;}

.wrap-4-1{margin-top: 50px;background: #f8f8f8;}
.wrap-4-1 iframe{aspect-ratio: 16/9;width: 100%;}
.wrap-4-1 address h2{font: 400 18px/20px var(--ff);color: #575153; padding: 20px 0;}
.wrap-4-1 address h3{font: 400 13px/20px var(--ff); color: #727272; margin-bottom: 15px;}
.wrap-4-1 address p{font: 400 15px/22px Roboto; color: #8e8c8c;}
.wrap-4-1 .add{margin: 20px 0 50px 0;}
.wrap-4-1 .info span,.clock{color: #8e8c8c; margin-right: 10px; font-size: 18px;}
.wrap-4-1 .info a{font: 300 14px/32px var(--ff); color: #8e8c8c;}
.wrap-4-1 .info p{font: 300 14px/32px var(--ff); color: #8e8c8c;}
.wrap-4-1 .circle{width: 35px; height: 35px; border-radius: 50%; background: #727272; display: grid; place-items: center; margin-right: 10px;}
.wrap-4-1 .circle a span{font-size: 18px; color: #fff; padding: 8px;}
.wrap-4-1 .circle:hover{background: #00c8c8;}
.wrap-4-1 .social{padding-bottom: 50px;}

@media screen and (max-width:1220px){
}

@media screen and (max-width:980px){
    .wrap-3 .brand {bottom: 115px;}
    .wrap-3 h2 {font: bold 40px / 54px var(--ff);}
    .wrap-3 h2 span{font: 400 40px/54px var(--ff);}
    .wrap-3 h3 {font: 500 21px / 54px var(--ff);}
    .wrap-3 .ave p {font: bold 265px var(--ff);}
    .wrap-4-1 .order{order: -1;}
}

@media screen and (max-width:767px){
    .wrap-3 .brand{bottom: 75px;}
    .wrap-3 h2 {font: bold 35px / 54px var(--ff);}
    .wrap-3 h2 span{font: 400 35px/54px var(--ff);}
    .wrap-3 h3 {font: 500 20px / 54px var(--ff);}
    .wrap-3 .ave p {font: bold 215px var(--ff);}
    .wrap-3 h3 {font: 500 18px / 54px var(--ff);}
}

@media screen and (max-width:460px){
    .wrap-3 .brand{bottom: 40px;}
    .wrap-3 h2 {font: bold 20px / 28px var(--ff);}
    .wrap-3 h2 span{font: 400 20px/28px var(--ff);}
    .wrap-3 h3 {font: 500 10px / 20px var(--ff);}
    .wrap-3 .ave p {font: bold 120px var(--ff);}
}

@media screen and (max-width:359px){

}